.ambsa-kit .ambsa-footer {
  background: #121212;
  color: #555555;
}

.ambsa-kit .ambsa-footer a:link {
  color: #999999;
}

.ambsa-kit .ambsa-footer a:visited {
  color: #999999;
}

.ambsa-kit .ambsa-footer a:hover {
  color: #bbbbbb;
}

.ambsa-kit .ambsa-footer a:active {
  color: #777777;
}

/* Medium
   ========================================================================== */
@media (max-width: 1300px) {
}

/* Small
   ========================================================================== */
@media (max-width: 900px) {
}

/* Extra Small
   ========================================================================== */
@media (max-width: 700px) {
}

/* Print
   ========================================================================== */
@media print {
}
