.ambsa-kit-nav {
  background: #000000;
}

/* Brand */

.ambsa-kit-nav .brand .ball-of-yarn {
  height: 50px !important;
  width: 50px !important;
}

.ambsa-kit-nav .brand .ball-of-yarn,
.ambsa-kit-nav .brand .ball-of-yarn * {
  fill: none;
}

.ambsa-kit-nav .brand .ball-of-yarn {
  margin: 15px;
}

.ambsa-kit-nav .brand .ball-of-yarn {
  stroke: #ffffff;
}

/* List Wrap */

.ambsa-kit-nav .list-wrap .menu-title {
  font-size: 50px;
}

.ambsa-kit-nav .list-wrap .menu-title {
  font-size: 50px;
}

/* Medium
   ========================================================================== */
@media (max-width: 1300px) {
}

/* Small
   ========================================================================== */
@media (max-width: 900px) {
}

/* Extra Small
   ========================================================================== */
@media (max-width: 700px) {
}

/* Print
   ========================================================================== */
@media print {
}
