.ambsa-kit .main-logo-wrap {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.ambsa-kit .main-logo-wrap .ambsa-logo {
  height: 150px;
  width: 150px;
}

.ambsa-kit .ambsa-kit-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.ambsa-kit .ambsa-kit-buttons-inner-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 400px;
}

.ambsa-kit .ambsa-kit-buttons-inner-wrap button {
  padding: 10px;
  margin: 10px 0px;
  background: #333333;
  color: #eeeeee;
  cursor: pointer;
  border-radius: 10px;
}

.ambsa-kit .ambsa-kit-buttons-inner-wrap button:hover {
  background: #111111;
  color: #ffffff;
}

.ambsa-kit .ambsa-kit-links {
  display: flex;
  justify-content: center;
}

.ambsa-kit .ambsa-kit-links ul {
  padding: 0px;
}

.ambsa-kit .example-footer {
  margin-bottom: 20px;
}

.ambsa-kit .link-logos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.ambsa-kit .link-logos .github-logo,
.ambsa-kit .link-logos .npm-logo {
  height: 60px;
  width: 60px;
}

.ambsa-kit .copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ambsa-kit .copyright span {
  margin-right: 5px;
}

/* Medium
   ========================================================================== */
@media (max-width: 1300px) {
}

/* Small
   ========================================================================== */
@media (max-width: 900px) {
}

/* Extra Small
   ========================================================================== */
@media (max-width: 700px) {
}

/* Print
   ========================================================================== */
@media print {
}
