.ambsa-kit .example-footer {
  margin-bottom: 20px;
}

.ambsa-kit .link-logos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.ambsa-kit .link-logos .github-logo,
.ambsa-kit .link-logos .npm-logo {
  height: 60px;
  width: 60px;
}

.ambsa-kit .copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ambsa-kit .copyright span {
  margin-right: 5px;
}

/* Medium
   ========================================================================== */
@media (max-width: 1300px) {
}

/* Small
   ========================================================================== */
@media (max-width: 900px) {
}

/* Extra Small
   ========================================================================== */
@media (max-width: 700px) {
}

/* Print
   ========================================================================== */
@media print {
}
