.ambsa-kit .example-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ambsa-kit .example-header .ambsa-kit-logo {
  margin-top: 20px;
  height: 150px;
  width: 150px;
}

/* Medium
   ========================================================================== */
@media (max-width: 1300px) {
}

/* Small
   ========================================================================== */
@media (max-width: 900px) {
}

/* Extra Small
   ========================================================================== */
@media (max-width: 700px) {
}

/* Print
   ========================================================================== */
@media print {
}
